/* HomeStyles.css */

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productList .productItem {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
}

.link-style {
  color: inherit;
  text-decoration: none;
}
